// COLOR
$light-blue: #2196F3;
$white: #ffffff;
$white-darken: #F5F4FA;
$black: #000000;
$gray: #2F303A;
$light-gray:#757575;
$shadow: rgba(57, 63, 72, .83);

// FONT-SIZE
$font-8: 8px;
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-32: 32px;
$font-36: 36px;
$font-48: 48px;
$font-80: 80px;

//FONT-FAMILY

$font-family: 'Raleway', sans-serif;
$font-family: 'Roboto', sans-serif;

// FONT-WEIGHT
$font-w-100: 100;
$font-w-300: 300;
$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;
$font-w-900: 900;

// PADDING
$p-0: 0;
$p-0-5: 0.5rem;
$p-1: 1rem;
$p-1-5: 1.5rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;
$p-6: 6rem;
$p-11: 11rem;

// MARGIN
$m-0: 0;
$m-0-5: 0.5rem;
$m-1: 1rem;
$m-1-5: 1.5rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;
$m-6: 6rem;