*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: #000000;
  overflow-x: hidden;
}

button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 650px;
  top: 430px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
}

.navigation__text {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.navigation__text span {
  color: #2196F3;
}

.navigation {
  align-self: center;
}

.navbar__lists {
  display: flex;
}

.navbar__list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 1rem;
}

.navbar__link {
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.navbar__link:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid #2196F3;
  text-transform: capitalize;
  color: #2196F3;
}

header {
  padding: 1rem;
  background-color: #ffffff;
}

.header__block {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.header__link {
  color: #757575;
  list-style: none;
  text-decoration: none;
}

.header__link:hover {
  color: #2196F3;
}
.header__link:hover svg path {
  fill: #2196F3;
}

main {
  background-color: #ffffff;
  width: 100%;
  color: #ffffff;
}

.section1 {
  height: 30rem;
  background-image: url("https://avatars.mds.yandex.net/get-images-cbir/9426946/Hz7AuAQARKxOVZMmZucq5g8666/ocr");
  background-size: 100% 100%;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.products__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 11rem;
}

.section2 {
  position: relative;
  background-color: aqua;
}

.section2__group {
  display: inline-flex;
  justify-content: center;
  width: calc(25% - 2rem);
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.block {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 120px;
  top: 774px;
  left: 215px;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: #F5F4FA;
}

.block__text {
  color: #212121;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */